.blue{
    background-color: blue;
    height: 100px;
    width: 100px;
    display: inline-block;
    position: relative;
    left: 200px;
}

.green{
    background-color: green;
    height: 100px;
    width: 100px;
    display: inline-block;
    position: relative;
    right: 100px;
}

.red{
    background-color: red;
    height: 100px;
    width: 100px;
    display: inline-block;
    position: relative;
    right: 100px;
}