/* ***************tags selector*************** */
h1 {
    color: red;
    font-size: 200px;
}

/* img {
    background-color: black;
} */
/* ***************class selector*************** */
.baccon {
    background-color: red;
}

.broccoli {
    background-color: yellow;
}

.apple {
    background-color: green;
}