/* ***************tags selector*************** */
h1 {
    color: red;
    font-size: 200px;
}

img:hover {
    background-color: yellow;
}
/* ***************class selector*************** */
.baccon {
    background-color: red;
}

.broccoli {
    background-color: yellow;
}
.circular {
    border-radius: 100%;
}

.apple {
    background-color: green;
}
.circular{
    border-radius: 100%;
}
/* ************** id selector **************** */
#heading{
    color: green;
}