body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;

}


h1{
    color: #66BFBF;
    font-size: 5.625rem;
    margin-top: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;

}

h2{
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem; 

}

h3{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;

}


.top-container{
    background-color: #E4F9F5;
    position: relative;
    padding: 110px;
}

.middle-container{

}

.bottom-container{
    background-color: #66BFBF;
    margin-top: 20px;   
}
.web{
    text-decoration: underline;
}

.top-cloud{
    position: absolute;
    left: 800px;
    top: 50px;
}

.bottom-cloud{
    position: absolute;
    left: 200px;
}


.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 20px;   
}

.web-img{
    width: 25%;
    float: left;
    margin-right: 30px;
}

.java-img{
    width: 25%;
    float: right;
    margin-right: 30px;
    margin-left: 30px;
}

.btn{
    color: #EAF6F6;
    background-color: #66BFBF;
    border-radius: 5px;
    font-size: 20px;
}

.copyright{
    color: #EAF6F6;
}

.footer-link{
    color: #11999E;
}