body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;

}


h1{
    font-size: 5.625rem;
    margin-top: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;

}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem; 

}

h3{
    font-family: 'Montserrat', sans-serif;

}


.top-container{
    background-color: #E4F9F5;
    position: relative;
    padding: 110px;
}

.middle-container{

}

.bottom-container{
    
}
.web{
    text-decoration: underline;
}

.top-cloud{
    position: absolute;
    left: 600px;
    top: 50px;
}

.bottom-cloud{
    position: absolute;
    left: 200px;
}