body{
    margin: 0;
    text-align: center;
}


h1{
    margin-top: 0;
}


.top-container{
    background-color: #E4F9F5;
    position: relative;
    padding: 110px;
}

.middle-container{
    background-color: red;
    height: 200px;
    width: 200px;
}

.bottom-container{
    background-color: blue;
    height: 200px;
    width: 200px;
}

.web{
    text-decoration: underline;
}

.top-cloud{
    position: absolute;
    left: 500px;
    top: 50px;
}

.bottom-cloud{
    position: absolute;
    left: 200px;
}