body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;

}


h1{
    margin-top: 0;
    font-family: 'Sacramento', cursive;

}

h2{
    font-family: 'Montserrat', sans-serif;

}

h3{
    font-family: 'Montserrat', sans-serif;

}


.top-container{
    background-color: #E4F9F5;
    position: relative;
    padding: 110px;
}


.web{
    text-decoration: underline;
}

.top-cloud{
    position: absolute;
    left: 500px;
    top: 50px;
}

.bottom-cloud{
    position: absolute;
    left: 200px;
}