body{
    margin: 0;
}


h1{
    margin: 0;
}


.top-container{
    background-color: #E4F9F5;
}

.middle-container{
    background-color: red;
    height: 200px;
    width: 200px;
}

.bottom-container{
    background-color: blue;
    height: 200px;
    width: 200px;
}

span{
    text-decoration: underline;
}