body {
    background-color: #EAF6F6;
}
hr {
    background-color: white;
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    height: 0px;
    width: 5%;
}

h1 {
    color: #66BFBF;
}

h3 {
    color: #66BFBF;
}